@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e3f2fd;
}

.accordion {
    max-width: 530px;
    width: 100%;
    background: #fff;
    margin: 0 15px;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.accordion .accordion-content {
    background: #FFF7F0;
    border: 1px solid #FFD6B3;
    border-radius: 4px;
    margin: 15px 0;
    overflow: hidden;
}

.accordion-content:nth-child(odd) {
    background-color: #F0FAFF;
    border-color: #CCEEFF;
}

.accordion-content.open {
    padding-bottom: 1rem;
}

.accordion-content.open header {
    min-height: 35px;
}

.accordion-content header {
    display: flex;
    cursor: pointer;
    min-height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    transition: all 0.2s linear;
}

.accordion-content header .title {
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

.accordion-content header i {
    font-size: 15px;
    color: #333;
}

.accordion-content .description {
    height: 0;
    padding: 0 15px;
    font-size: 12px;
    color: #333;
    font-weight: 400;
    transition: all 0.2s linear;
}